= render 'templates/song'
= render 'templates/song_artist_first'
= render 'templates/song_shortlist'
= render 'templates/youtube_iframe'
= render 'templates/save_load'
= render 'templates/hottest_player'
= render 'templates/vote'
