!!!
%html
  %head
    %title
      hottest100.io

    = stylesheet_link_tag '/assets/application'

    = include_gon
    %meta{name:"viewport", content:"initial-scale=1.0 maximum-scale=1.0 width=device-width"}
    %link{ rel:"icon", type:"image/ico", href: "/assets/favicon.ico"}
    %link{href:'https://fonts.googleapis.com/css?family=Open+Sans:400,700,600', rel:'stylesheet', type:'text/css'}
    = csrf_meta_tag

    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'
  %body
    =render '/svgs'
    -##bg
      -#- @albums.each_with_index do |album_url, i|
        -#%img.tile{src:album_url}
    #loading
      %svg.logo{:viewbox => "0 0 460 79"}
        %use{"xlink:href" => "#logo"}

      .no-svg{style: 'display:none'}
        %img.logo{src:'/assets/hottest100_logo.png'}
      %ul.waiting_list
        %li
          %svg.stereo{:viewbox => "0 0 60.5 73.1"}
            %use{"xlink:href" => "#stereo"}
          .rant
            Blast the fuck out of 2014's best tunes
        %li
          %svg.mixer{:viewbox => "0 0 57.4 63.9"}
            %use{"xlink:href" => "#mixer"}
          .rant
            Jam your shortlist into shape
        %li
          %svg.notes{:viewbox => "0 0 60.5 73.1"}
            %use{"xlink:href" => "#notes"}
          .rant
            Vote the shit out of your top 10
        %li
          %svg.beer{viewbox:"0 0 48.4 60.20"}
            %use{"xlink:href" => "#beer"}
          .rant
            Get ready for the motherfuckin party
        %li
          %button.show-app.button.rosy
            Lets do this!


      .info
        %p
          Want to steal the code or found a bug
          %a{href: 'http://github.com/teeerevor/hotmess_rails', target:'_blank'}
            github is your friend

        %p
          For feedback, rants and other tips
          %a{href:'mailto:trev@hottest100.io'}
            trev@hottest100.io
          %a{href: 'http://twitter.com/teeerevor', target:'_blank'}
            @teeerevor

    #app.hidden

      %header
        %svg.logo{:viewbox => "0 0 460 79"}
          %use{"xlink:href" => "#logo"}
        .no-svg{style: 'display:none'}
          %img.logo{src:'/assets/hottest100_logo.png'}
        %h1.hidden
          Hotmess100


      %section.lists
        %section#short_list.list
          %a{name:'short_list'}
          %h2
            Your shortlist
          .empty_list_blank_state
            %p
              Your shortlist is sad.

            %p
              Go on add some songs.

            %img{src:'/assets/short_list_blankstate.gif'}


        %section#song_list.list
          #song-list-top
          .header
            %h2
              The
              = @year
              Songs
            %span.toggle-sort-button
              Sort by
              %span.label
                artists
          .song_list
            - @songs.each do |song|
              = render partial: 'songs/song', object: song

          .loader
            .label
              loading
              .loader-element
                Loading...

        %nav.list_index.hidden
          %a.animatescroll{data:{target:"#song-list-top"}}
            %div
              top
          - ('a'..'z').each do |letter|
            %a.animatescroll{data:{target:".#{letter.upcase}"}}
              %div
                =letter.upcase

      = yield


    = javascript_include_tag '/assets/application'
    -#= javascript_include_tag 'http://isotope.metafizzy.co/isotope.pkgd.js'
    -#= javascript_include_tag 'http://rawgit.com/metafizzy/isotope-packery/master/packery-mode.pkgd.js'
    = yield :js
    :javascript
      /*$( function() {
        $('#bg').isotope({
          layoutMode: 'packery',
          itemSelector: '.tile'
        });
      });
      $('#bg').css('position','fixed')
      */

      window.iOS = ( navigator.userAgent.match(/(iPad|iPhone|iPod)/i) ? true : false )
      window.urlEmail = '#{@email}'
      window.urlYear = '#{@year}'

      function onYouTubePlayerReady(playerId) {
        ytplayer = document.getElementById(playerId);
        var functionName = playerId+'_statechange'
        window[functionName] = function(newState) {
          hottestPlayer.ytStateChange(playerId, ytplayer, newState);
        }

        ytplayer.addEventListener("onStateChange", functionName);
      }

      function onYouTubeError(error) {
        window.console && console.log && console.log(error);
      }

    //google analytics
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36742034-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
