!!!
%html
  %head
    %title
      hottest100.io

    = stylesheet_link_tag '/assets/application'

    = include_gon
    %meta{name:"viewport", content:"initial-scale=1.0 maximum-scale=1.0 width=device-width"}
    %link{ rel:"icon", type:"image/ico", href: "/assets/favicon.ico"}
    %link{href:'https://fonts.googleapis.com/css?family=Open+Sans:400,700,600', rel:'stylesheet', type:'text/css'}
    = csrf_meta_tag

    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'
  %body
    =render '/svgs'
    -##bg
      -#- @albums.each_with_index do |album_url, i|
        -#%img.tile{src:album_url}
    #loading
      %svg.logo{:viewbox => "0 0 460 79"}
        %use{"xlink:href" => "#logo"}

      .no-svg{style: 'display:none'}
        %img.logo{src:'/assets/hottest100_logo.png'}
      %ul.waiting_list
        %li
          %svg.stereo{:viewbox => "0 0 60.5 73.1"}
            %use{"xlink:href" => "#stereo"}
          .rant
            Blast the fuck out of 2014's best tunes
        %li
          %svg.mixer{:viewbox => "0 0 57.4 63.9"}
            %use{"xlink:href" => "#mixer"}
          .rant
            Jam your shortlist into shape
        %li
          %svg.notes{:viewbox => "0 0 60.5 73.1"}
            %use{"xlink:href" => "#notes"}
          .rant
            Vote the shit out of your top 10
        %li
          %svg.beer{viewbox:"0 0 48.4 60.20"}
            %use{"xlink:href" => "#beer"}
          .rant
            Get ready for the motherfuckin party
        %li.button-item
          %button.show-app.hot-button
            Lets do this!


      .info
        %p
          Want to steal the code or found a bug
          %a{href: 'http://github.com/teeerevor/hotmess_rails', target:'_blank'}
            github is your friend

        %p
          For feedback, rants and other tips
          %a{href:'mailto:trev@hottest100.io'}
            trev@hottest100.io
          %a{href: 'http://twitter.com/teeerevor', target:'_blank'}
            @teeerevor

    #app.app.hidden
      %header
        .left
          %svg.logo{:viewbox => "0 0 460 79"}
            %use{"xlink:href" => "#logo"}
          .no-svg{style: 'display:none'}
            %img.logo{src:'/assets/hottest100_logo.png'}
          %h1.hidden
            Hotmess100
        .center
          #player
        -#.right
      #react.hidden


    = javascript_include_tag '/assets/application'
    = yield :js
    :javascript
      window.iOS = ( navigator.userAgent.match(/(iPad|iPhone|iPod)/i) ? true : false )
      window.urlEmail = '#{@email}'
      window.urlYear = '#{@year}'
      Launcher.init();

      //load youtube vid api
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    = yield
    //google analytics
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36742034-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
